.button {
    @include fluid-text(18, 14);
    @include fluid-line-height(22, 16);
    white-space: nowrap;
    background-color: $red;
    color: $white;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding-inline: 2.5rem;
    padding-block: 1.375rem;
    max-height: 4.0625rem;
    max-width: 17.1875rem;

    @include media-breakpoint-between(xs, lg) {
        padding-inline: 10px;
        padding-block: 5px;
        width: 183px;
        height: 32.5px;
    }
}