.information {
    z-index: 1;
    width: clamp(320px, calc(793/1903 *100vw), 793px) !important;


    &__title {
        margin-bottom: 2.625rem;
    }

    &__description {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-bottom: 7.75rem;
    }
}