.information {
    width: clamp(320px, calc(600/1903 *100vw), 793px);

    &__title {
        margin-bottom: 2.625rem;
    }

    &__description {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}